# Creates a patch version on a release branch.
# The workflow bumps the patch version and updates the release notes for the
# selected branch.

name: Create Patch

on:
  workflow_call:
    inputs:
      artifacts:
        description: Release artifacts to attach to the release
        type: string
        required: false
    secrets:
      CARGO_REGISTRIES_CREDIBIL_TOKEN:
        required: true

permissions:
  contents: write

env:
  CARGO_REGISTRIES_CREDIBIL_TOKEN: ${{ secrets.CARGO_REGISTRIES_CREDIBIL_TOKEN }}

jobs:
  skip:
    name: Skipped
    if: startsWith(github.ref_name, 'release-') == false
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "This workflow only runs on the 'release-*' branches"
          exit 1

  # Increment patch version and update RELEASES.md
  # Push back to the release-<version> branch for review and publishing
  patch:
    name: Patch release
    if: startsWith(github.ref_name, 'release-')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set git identity
        uses: credibil/pipeline/.github/actions/git-identity@main

      - name: Bump version
        id: patch
        uses: credibil/pipeline/.github/actions/cargo-version@main
        with:
          increment: patch

      # TODO: Re-enable semver check with flag to skip for non-library repos
      # - name: Check semver
      #   uses: obi1kenobi/cargo-semver-checks-action@v2
      #   with:
      #     baseline-rev: ${{ github.ref_name }}
      #     release-type: patch

      - name: Update release notes
        uses: credibil/pipeline/.github/actions/release-notes@main
        with:
          release-type: patch
          version: ${{ steps.patch.outputs.version }}
          previous-version: ${{ steps.patch.outputs.previous-version }}
          

      - name: Push changes
        run: git push origin HEAD:${{ github.ref_name }}
